<div class="container">
  <h3 class="text-center">Adicionar Conta</h3>
  <br>
  <hr>
  <div class="col-md-6 col-md-offset-3">
    <form [formGroup]="form" novalidate>
      <div class="form-group" [ngClass]="{'has-error': (!form.controls.date.valid && !form.controls.date.pristine)}">
        <label for="">Data</label>
        <input type="date" class="form-control" placeholder="Informe a data" formControlName="date">
      </div>

      <div class="form-group">
        <label for="">Tipo</label>
        <select class="form-control" formControlName="accountType">
          <option value="0">Contas à pagar</option>
          <option value="1">Contas à receber</option>
        </select>
      </div>

      <div class="form-group" [ngClass]="{'has-error': (!form.controls.description.valid && !form.controls.description.pristine)}">
        <label for="">Descrição</label>
        <input type="text" class="form-control" placeholder="Informe a descrição" formControlName="description">
      </div>

      <div class="form-group" [ngClass]="{'has-error': (!form.controls.value.valid && !form.controls.value.pristine)}">
        <label for="">Valor</label>
        <input type="text" class="form-control" placeholder="Informe o valor" formControlName="value">
      </div>

      <button class="btn btn-default btn-block" routerLink="/">VOLTAR</button>
      <button class="btn btn-success btn-block" (click)="submit()" [disabled]="!form.valid">SALVAR</button>
    </form>
  </div>
</div>