<div class="container">
  <br>
  <br>
  <br>
  <div class="col-md-4 col-md-offset-4 well">
    <h3 class="text-center">Acesso ao Sistema</h3>
    <form>
      <div class="form-group">
        <label for="">Usuário</label>
        <input type="text" class="form-control" placeholder="Informe seu usuário">
      </div>

      <div class="form-group">
        <label for="">Senha</label>
        <input type="password" class="form-control" placeholder="Informe sua senha">
      </div>

      <button class="btn btn-success btn-block">Login</button>
    </form>
  </div>
</div>